<ng-container *ngIf="manualPurchases; else emptyData">
  <div class="recent-notices-container top-padding">
    <h1 class="order-incidents-title text-big poppins bold deep-sea-green">Compras manuales</h1>
    <order-table
      (handleOrder) = handleOrder($event)
      class="height-100 width-100"
      [data]="manualPurchases"
      [configTable]="configTable"
      keyId='order_id'>
    </order-table>
  </div>
  <paginator
    *ngIf="paginatorData?.totalElements >= limit"
    [paginator]="paginatorData"
    class="notice-paginator"
    (page)="currentPageChange($event)">
  </paginator>
</ng-container>
<ng-template #emptyData>
  <div class="recent-notices-container row2 middle center">
    <div class="column2 center middle">
      <i class="icon icon-empty-list empty-list"></i>
      <h1 class="text-big bold poppins iron">Sin compras manuales</h1>
    </div>
  </div>
</ng-template>
