<!-- TODO se quita async <ng-container *ngIf="$recentOrders | async as orders; else loader"> -->
<ng-container *ngIf="recentOrders; else loader">
  <ng-container *ngIf="recentOrders.data?.length;else emptyRecentOrders">
    <div class="width-100  height-100">
      <div class="width-100 table-container m-bottom-3" *ngFor="let order of recentOrders.data">
        <order-item class="column2 table-container no-float" [data]="order"></order-item>
      </div>
      <paginator [paginator]="recentOrders.dataPaginator" (page)="currentPageChange($event)"></paginator>
    </div>
  </ng-container>
  <ng-template #emptyRecentOrders>
    <div class="width-100  height-100 column2 center middle">
      <h1 class="tiber title-medium bold">Pedidos recientes</h1>
      <h3 class="hoki text-big">En esta sección encontrarás la lista de los últimos pedidos asignados.
      </h3>
    </div>
  </ng-template>
</ng-container>
<ng-template #loader>
    <img class="loader" src="/o/mkpl-home/icons/Eclipse-1s-200px.gif" alt="loader">
</ng-template>
